---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Upgrade system packages
  apt:
    upgrade: dist

- name: Install basic packages
  apt:
    name:
      - sudo
      - curl
      - wget
      - vim
      - htop
      - rsync
    state: present

